body{
    background-color: #efb79e;
    margin: 0px;
    padding: 0px;
    

}



.container{
    display: flex; /* tudo que tiver dentro de container sera flexivel */
    background-color: #1e7387;
    justify-content: space-between;
    
    
   
}



.logo{
    display: flex;
    justify-content: space-between;
    
  


}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    width: 100%;
    height: 30px;
    font-family: curely, sans-serif;
    font-size: 22px
    
}

.menu a{ /* esse a se refere ao <a> */
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px 15px 15px;
    border-radius: 20px;
    margin-top: 10px;
    /* tira a linha debaixo */

}

.menu a:hover{
    background-color: #f5dbd7;
    color: #1e7387


}
.social{
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 50px;
}

.fcb:hover{
    opacity: 0.7
}

.ins:hover{
    opacity: 0.7
}

.pesquisa{
    display: flex;
    justify-content: center;
    margin: 20px
}

.pesquisa input[type=text]{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 20px;
    border-radius: 20px;
    border-color: #1e7387;
    border: solid #1e7387 3px;
    background-color: #fffaf7;
    color: rgb(0, 0, 0)
    
}

.pesquisa input[type=submit]
{   margin-left: 10px;
    border-radius: 20px;
    background-color: #1e7387;
    color: whitesmoke;
    border: #1e7387 3px solid;
    background-image: url(../icons/image.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 24px;
    background-size: 17px;
}

/* fb=facebook e ins=instagram */

    
   @import url('https://fonts.cdnfonts.com/css/curely');

   .a99{
    display: flex;
    justify-content: center;
   }

   h1{
    color:#1e7387; 
    text-align: left;
   }

   /* tratamento do banner/slideshow */
.mySlides{display: none;}

.slideshow-container{
   display: flex;
   justify-content: center;
   position: relative;
   max-width: auto;
   
  
}

.slide-img{
    border-radius: 20px;
}

.numbertext{
    color: #1e7387;
    font-size: 18px;
    padding: 10px 10px;
    position: absolute;
    top: 0;
}

.text{
    color: whitesmoke;
    font-size: 22px;
    padding: 10px 10px;
    position: relative;
    bottom: 80px;
    width: 100px;
    text-align: center;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.texto-receitas{
    font-family:curely, sans-serif ;
    color: #1e7387;
}



.active{
    background-color: grey;

}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;

}

/* receitas box */

.container-receitas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: #1e7387;
    font-family:curely, sans-serif ;
    text-align: center;
    margin-bottom: 80px;
    

}

.receitabox :hover{
    opacity: 0.7;
}

.receitabox a:visited{
    color:#1e7387;
}

a{
    text-decoration: none;
}

.receitabox{
    background-color: #e0a488;
    border-radius: 20px;
}

.overlay{
    font-family: curely, sans-serif ;
    font-size: 24px;
}
/* rodape pagina */

.rodape-container{
    width: auto;
    height: 300px;
    background-color: #1e7387;


}

.receita-image{
    border-radius: 100%;
}


@keyframes fade{
    from {opacity: 0.4;}
    to {opacity: 1;}
}

